In [ ]:
# Q1) Printing all odd numbers in a list.
# Q2) Finding the sum of list elements.
# Q3) Reversing a list in two ways.
# Q4) Finding the top two maximum numbers in a list.
# Q5) Finding the second highest number in an integer list.
# Q6) Sorting characters in descending order.
# Q7) Removing repeated characters from a string.
# Q8) Checking if a given character is a vowel or consonant.
# Q9) Calculating the factorial of a number.
# Q10) Merging two lists.

In [100]:
print("\n\tQ_1")

my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("Here are the odd numbers of the list: ")
for num in my_list:
    if num % 2 != 0:
        print(num)

	Q_1
Here are the odd numbers of the list:
1
3
5
7
9

In [97]:
print("\n\tQ_2")

adding_numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
total = sum(adding_numbers)
print("Here is the sum numbers of list: ", total)

	Q_2
Here is the sum numbers of list:  55

In [96]:
print("\n\tQ_3")

number_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
number_list.reverse()
print("Here are the numbers of list in reverse order", number_list)

	Q_3
Here are the numbers of list in reverse order [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [90]:
print("\n\tQ_4")

my_list=[3,5,76,345,342,2,13,4365,6,432,761,788,11,5498]


Maximum_Number_1 = max(my_list)
my_list.remove(Maximum_Number_1)
Maximum_Number_2 = max(my_list)

print("Following are the two highest numbewr in the list: ",  Maximum_Number_1 ," and ",  Maximum_Number_2)

	Q_4
Following are the two highest numbewr in the list:  5498  and  4365

In [89]:
print("\n\tQ_5")

my_list=[3,5,76,345,342,2,13,4365,6,432,761,788,11,5498]


Maximum_Number_1 = max(my_list)
my_list.remove(Maximum_Number_1)
Maximum_Number_2 = max(my_list)

print("Second highest number of the list is:",  Maximum_Number_2)

	Q_5
Second highest number of the list is: 4365

In [93]:
print("\n\tQ_6")

my_list = [0, 1, 5, 3, 4, 9, 2, 7, 8, 6, 10]

print("Here are the numbers of list in descending order:")
my_list.sort()
my_list.reverse()
print(my_list)

	Q_6
Here are the numbers of list in descending order:
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [109]:
print("\n\tQ_7")

repeated_string = 'abccddeffghhijkk'
unique_chars = ''

for char in repeated_string:
    if char not in unique_chars:
        unique_chars += char

print("String after removing repeated characters:", unique_chars)

	Q_7
String after removing repeated characters: abcdefghijk

In [102]:
print("\n\tQ_8")
alphabet = input("Enter Alphabet:")
vowels = ["a","e","i","o","u"]

if alphabet in vowels:
  print("This letter is Vowel:  ", alphabet)
else:
  print("This letter is a Consonant:  ", alphabet )

	Q_8
Enter Alphabet:u
This letter is Vowel:   u

In [108]:
print("\n\tQ_9")

num = int(input())
factorial = 1

if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial *= i

    print("The factorial of", num, "is", factorial)

	Q_9
0
The factorial of 0 is 1

In [104]:
print("\n\tQ_10")

list_1= [0,1,2,3,4]
list_2= [5,6,7,8,9]

merge_list= list_1 + list_2
print(list_1, list_2, "\nHere are the numbers of list_1 and list_2 altogether :", merge_list)

	Q_10
[0, 1, 2, 3, 4] [5, 6, 7, 8, 9]
Here are the numbers of list_1 and list_2 altogether : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]